<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css">
    <title>Victor</title>
  </head>
  <body>
    <div class="header">
        <div class="logo_container">
          <a href="/">
            <img src="../../vs_logo.png" width="150px" height="75px" class="logoImg">
          </a>
        </div>
        <ul class="nav">
          <a href="../../Portfolio" class="portfolioButton"><li>Portfolio</li></a>
          <a href="../../Guestbook" class="guestBookButton"><li>Guestbook</li></a>
          <a href="../../Contact" class="contactButton"><li>Contact</li></a>
        </ul>
    </div>
        <div class="content">
              {{{body}}}
        </div>
        <div class="footer">
          <div class="user_container">
          <ul class="login">
            {{#if isLoggedIn}}
              <a href="../../Logout"><li>LOGOUT</li></a>
            {{else}}
              <a href="../../Login" class="loginButton"><li>LOGIN</li></a>
            {{/if}}
        </ul>
        {{#if isLoggedIn}}
          <a href="">
          <div class="profilePic">
            <img src="../../profilePic.png" class="profileImg">
          </div>
          </a>
        {{/if}}
        </div>
        </div>
  </body>
</html>
