<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Victor</title>
  </head>
  <body>
    <div class="header">
        <div class="logo_container">
          <h1>VICTOR SVANQVIST</h1>
        </div>
        <ul class="nav">
          <a href=""><li>TSET</li></a>
          <a href=""><li>TESS</li></a>
          <a href=""><li>TEST</li></a>
        </ul>
        <div class="user_container">
          <h1>LOGGED IN USER:</h1>
        </div>
    </div>
    {{{body}}}
  </body>
</html>
